<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- <typeAlias type="org.zpb.mybatis.domain.User" alias="_User" /> -->
		<package name="org.ghostman.chat.model" />
	</typeAliases>
	
	<!-- mapper -->
	<mappers>
		
	</mappers>
</configuration>
